/*=============================*/
/*====== SET UP VARIABLES =====*/
/*=============================*/


:root {

    /*SIZES*/
    --size-easy: 106.66px;
    --size-classic: 80px;
    --size-difficult: 64px;

    /*COLORS*/
    --radial-orange: radial-gradient(circle, rgba(246, 186, 82, 1) 0%, rgba(167, 131, 114, 1) 75%);
    --tile-default-color: #0a2a41;
    --tile-correct-color: #55ab9f;
    --border-green: #327c88;
    --orange-regular: #D7A45F;
    --orange-border: #BE9369;
}


/*=========================*/
/*====== IMPORT FONTS =====*/
/*=========================*/
@font-face {
    font-family: "pacifico";
    src: url(./assets/fonts/Pacifico.ttf);
}

@font-face {
    font-family: "gamesStudio";
    src: url(./assets/fonts/GamesStudio.ttf);
}

body {
    background: var(--radial-orange);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: pacifico;
    font-weight: bold;
    align-items: center;
}

/*====================================*/
/*=========== RESPONSIVNESS ==========*/
/*====================================*/

@media screen and (min-width: 450px) {

    :root {
        --size-easy: 133.3px;
        --size-classic: 100px;
        --size-difficult: 80px;
    }

}


@media screen and (min-width: 700px) {

    :root {
        --size-easy: 146.75px;
        --size-classic: 110px;
        --size-difficult: 88px;
    }

}
